body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;

}

header {
    text-align: center;
    background-color: rgb(255, 185, 93);
    padding: 8px;
}

h1, h2{
    margin: 0;
}

h2{
    font-size: 18px;
}


button {
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 80vh;
}

button {
    background-color: rgb(255, 185, 93);
    border: 2px solid black;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    padding: 8px 16px;
}

.container {
    border: 3px solid black;
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 252, 226);
}

.rowcont {
    display: flex;
    flex-grow: 1;
}

.pixel {
    flex: 1;
    
}
